html,body {
    height: 100%
}

body {
    background-color: #F8F8F8;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 1512px;
    height: 53px;
    background: #FFFFFF;
    border-bottom: 1px solid #F4F4F4;
}

.header__heading {
    width: 112px;
    height: 33px;

    font-family: 'jsMath-cmti10' , serif;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    color: #F5C800;
    flex: none;
    order: 0;
    flex-grow: 0;
}